@import url("../libs/vendors/codemirror/codemirror.css");
@import url("../libs/vendors/codemirror/base16-dark.css");

:host,
:root {
  /* COLORS */
  --hlx-import-text-color: #000;
  --hlx-import-link-color: #0563C1;
  --hlx-import-secondary-heading-color: #434343;
  --hlx-import-tertiary-heading-color: #666;
  --hlx-import-background-color: #fff;
  --hlx-import-table-head-background-color: #F5CBCD;

  /* FONTS */
  --hlx-import-font-family: 'Arial', sans-serif;

  /* FONT SIZES */
  --hlx-import-body-font-size: 14px;
  --hlx-import-h1-font-size: 25px;
  --hlx-import-h2-font-size: 20px;
  --hlx-import-h3-font-size: 18px;
  --hlx-import-h4-font-size: 15px;
  --hlx-import-h5-font-size: var(--hlx-import-body-font-size);
  --hlx-import-h6-font-size: var(--hlx-import-body-font-size);
}

.import .code {
  position: relative;
  height: calc(100vh - 232px);
}

/* stylelint-disable-next-line selector-class-pattern */
.import .CodeMirror {
  position: absolute;
  inset: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.import .cm-s-base16-dark.CodeMirror, .import .cm-s-base16-dark .CodeMirror-gutters {
  background-color: var(--spectrum-global-color-gray-75);
}

/* stylelint-disable-next-line selector-class-pattern */
.import .cm-s-base16-dark.CodeMirror {
  border: 1px solid var(--spectrum-global-color-gray-100);
}

.import sp-theme[color="light"] {
  width: 100%;
  background-color: var(--spectrum-global-color-gray-50);
  color: var(--spectrum-global-color-gray-800);
}

.import #import-markdown-preview {
  height: calc(100vh - 232px);
  border: 1px solid var(--spectrum-global-color-gray-100);
  padding: 12px;
  background-color: var(--hlx-import-background-color);
  color: var(--hlx-import-text-color);
  font-family: var(--hlx-import-font-family);
  font-size: var(--hlx-import-body-font-size);
  line-height: 1.15;
  overflow-y: auto;
}

.import #import-markdown-preview h1,
.import #import-markdown-preview h2,
.import #import-markdown-preview h3,
.import #import-markdown-preview h4,
.import #import-markdown-preview h5,
.import #import-markdown-preview h6 {
  margin: 0;
  padding-bottom: 6px;
  font-weight: normal;
}

.import #import-markdown-preview h1 {
  padding-top: 20px;
  font-size: var(--hlx-import-h1-font-size);
}

.import #import-markdown-preview h2 {
  padding-top: 18px;
  font-size: var(--hlx-import-h2-font-size);
}

.import #import-markdown-preview h3 {
  padding-top: 16px;
  padding-bottom: 4px;
  color: var(--hlx-import-secondary-heading-color);
  font-size: var(--hlx-import-h3-font-size);
}

.import #import-markdown-preview h4 {
  padding-top: 14px;
  padding-bottom: 4px;
  color: var(--hlx-import-tertiary-heading-color);
  font-size: var(--hlx-import-h4-font-size);
}

.import #import-markdown-preview h5 {
  padding-top: 12px;
  padding-bottom: 4px;
  color: var(--hlx-import-tertiary-heading-color);
  font-size: var(--hlx-import-h5-font-size);
}

.import #import-markdown-preview h6 {
  padding-top: 12px;
  padding-bottom: 4px;
  color: var(--hlx-import-tertiary-heading-color);
  font-size: var(--hlx-import-h6-font-size);
  font-style: italic;
}

.import #import-markdown-preview p {
  margin: 10px 0;
}

.import #import-markdown-preview a:any-link {
  color: var(--hlx-import-link-color);
}

.import #import-markdown-preview ul {
  padding-inline-start: 20px;
  list-style-type: none;
}

.import #import-markdown-preview ul li {
  position: relative;
}

.import #import-markdown-preview ul li::before {
  position: absolute;
  margin-left: -20px;
  content: '\2011';
}

.import #import-markdown-preview img {
  max-width: 100%;
}

.import #import-markdown-preview table,
.import #import-markdown-preview th,
.import #import-markdown-preview td {
  max-width: 100%;
  border: 1px solid var(--hlx-import-text-color);
  border-collapse: collapse;
}

.import #import-markdown-preview table {
  width: 100%;
  margin-bottom: 20px;
}

.import #import-markdown-preview thead tr {
  background-color: var(--hlx-import-table-head-background-color);
}

.import #import-markdown-preview th,
.import #import-markdown-preview td {
  padding: 6px;
}

.import #import-file-picker-container {
  width: 100%;
}

.import #import-file-picker-container sp-picker {
  width: 100%;
}

.import #import-result ul {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.import #import-result sp-icon-checkmark-circle,
.import #import-result sp-icon-alias,
.import #import-result sp-icon-alert {
  margin-bottom: -4px;
  padding-left: 4px;
}

.import #import-result sp-icon-checkmark-circle {
  color: rgb(0 125 78);
}

.import #import-result sp-icon-alias {
  color: rgb(3 103 224);
}

.import #import-result sp-icon-alert {
  color: rgb(215 25 19);
}

/* sections mapping */
.import #mapping-editor {

  margin-top: 2rem;

  & h2, h3 {
    /* font-family: monospace; */
    margin: 0;
  }

  & .row {
    padding: .1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    & #sec-id {
      background-color: rgba(255, 255, 255, 0.04);
      padding: .4rem;
      border-radius: .4rem;
      min-width: 200px;
      border: none;
    }

    & #sec-color {
      width: 1rem;
      height: 1rem;
      border: none;
    }

    & #sec-layout {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: .2rem;

      & * {
        margin-top: 2px;
      }
    }
  }

  & #sm-fragments-container {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .sm-fragment {

      padding: 1rem;
      border-left: 25px solid var(--spectrum-global-color-gray-100);
      border-top: 2px solid var(--spectrum-global-color-static-transparent-white-400);

      & .sm-fragment-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &.selected {
        border-left-color: blueviolet;
      }

      & summary {
        font-family: monospace;
        fill: white;
        cursor: pointer;
        padding: 0.5rem;
        /* border: 1px solid var(--spectrum-global-color-gray-100);
        border-radius: 0.25rem; */
        margin-bottom: 0.5rem;
        font-size: x-large;
        pointer-events: auto;

        & h2 {
          margin: 0;
        }

        &::marker {
          color: var(--spectrum-global-color-gray-100);
          pointer-events: auto;
        }

        & text {
          pointer-events: auto;
        }
      }

      & #delete-frg {
        position: relative;
        top: 5px;
        float: inline-end;
        /* content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20role%3D%22img%22%20fill%3D%22red%22%20height%3D%2224%22%20width%3D%2224%22%20aria-hidden%3D%22true%22%20aria-label%3D%22%22%3E%3Cpath%20d%3D%22M31.5%206H24V4a2%202%200%200%200-2-2H12a2%202%200%200%200-2%202v2H2.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h2l2.413%2025.1a1%201%200%200%200%201%20.9h18.179a1%201%200%200%200%201-.9L29.5%208h2a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5ZM11.065%2029A1%201%200%200%201%2010%2028.068l-1.071-16a1%201%200%201%201%202-.134l1.071%2016A1%201%200%200%201%2011.065%2029ZM18%2028a1%201%200%200%201-2%200V12a1%201%200%200%201%202%200Zm4-22H12V4h10Zm2%2022.068a1%201%200%201%201-2-.134l1.071-16a1%201%200%201%201%202%20.134Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        float: right;
        pointer-events: auto; */
      }

      & .sm-frg-settings-wrapper {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
      }

      & .sm-frg-sections-title {
        display: flex;
        gap: 1rem;
      }

      & .sm-frg-settings-container {
        flex-grow: 1;
      }
    }
  }
}
