*, *::before, *::after {
  box-sizing: border-box;
}

body, sp-theme[color="dark"] {
  min-height: 100vh;
  margin: 0;
  background-color: var(--spectrum-global-color-gray-50);
  color: var(--spectrum-global-color-gray-800);
  font-family: var(--spectrum-global-font-family-base);
}

body.parent > sp-theme {
  display: grid; 
  grid-template-columns: 240px 1fr; 
  grid-template-rows: 1fr; 
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas: 'sidebar main';
}

body.parent iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--spectrum-alias-heading-m-text-size);
}

h2 {
  font-size: var(--spectrum-alias-heading-s-text-size);
}

h3 {
  font-size: var(--spectrum-alias-heading-xs-text-size);
}

.hidden {
  display: none;
  visibility: hidden;
}

/* SIDEBAR */
aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: var(--spectrum-global-color-gray-75);
}

/* HEADER */
header {
  padding: 24px;
}

header a {
  display: flex;
  text-decoration: none;
  color: var(--spectrum-global-color-gray-800);
}

header svg {
  height: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
}

header h1 {
  margin: 0;
}

/* SIDE NAV */
nav {
  flex: 1;
  overflow-y: auto;
  padding: 0 24px;
}

nav sp-sidenav {
  width: 100%;
}

/* FOOTER */
footer {
  padding: 24px;
}

footer a {
  text-decoration: none;
  color: var(--spectrum-global-color-gray-800);
}

footer svg {
  height: 24px;
  fill: var(--spectrum-global-color-gray-300);
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 12px;
}

/* MAIN */
.parent main {
  max-height: 100vh;
  overflow: hidden;
}

.tool main {
  grid-area: main;
  max-height: 100vh;
  padding: 24px 56px 0;
  overflow-y: auto;
}

main sp-divider {
  background-color: var(--spectrum-global-color-gray-200);
}

main .option-field {
  width: 100%;
}

main .option-field + sp-field-label {
  margin-top: 12px;
}

main .option-field + sp-checkbox {
  margin-top: 6px;
}

main .field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

main .field-group + .field-group {
  margin-top: 12px;
}

main .field-group sp-field-label {
  flex: 1;
}

main .field-group sp-textfield {
  flex: 1;
  margin: auto 9px;
}

main .field-group sp-color-handle {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 9px 0 0;
}

main .field-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; 
  gap: 0 12px; 
  margin-top: 12px;
}

main sp-button-group {
  margin-top: 12px;
}

main sp-button[disabled] {
  cursor: not-allowed;
}

main sp-button sp-progress-circle {
  margin-right: 10px;
  vertical-align: bottom;
}

/* SECTIONS */
section {
  height: 100%;
}

section .section-title {
  margin-bottom: 12px;
}

section .section-cols {
  display: grid;
  grid-template-columns: 3fr 4fr; 
  grid-template-rows: 1fr; 
  gap: 0 40px; 
}

section .section-cols .section-col {
  height: 100%;
  overflow-x: auto;
}

section form {
  margin-bottom: 12px;
}

section sp-accordion sp-accordion-item {
  margin-left: -16px;
  border-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
section sp-accordion sp-accordion-item sp-textfield,
section sp-accordion sp-accordion-item sp-number-field,
section sp-accordion sp-accordion-item sp-checkbox {
  width: calc(100% + 16px);
}

section sp-tabs sp-tab-panel {
  padding-top: 12px;
}

section sp-tabs sp-tab-panel > div {
  width: 100%;
}

section .page-preview {
  height: calc(100vh - 305px);
  margin-top: 12px;
  overflow: hidden;
}

section .page-preview h3 {
  padding-top: 12px;
}

section .page-preview iframe {
  height: calc(100% / .45);
  width: calc(100% / .45);
  transform: scale(0.45);
  transform-origin: 0 0;
  background-color: var(--spectrum-global-color-gray-75);
  overflow-x: auto;
}

/* ALERT CONTAINER */
#alert-container {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  row-gap: 4px;
}
