section sp-tabs sp-tab-panel {
  padding-left: 2px;
  padding-right: 2px;
}

.inspect sp-asset img, .inspect sp-asset svg {
  max-height: 300px;
  margin-bottom: 30px;
}

.inspect sp-asset .svg-placeholder {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
}